.order_info {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.order_card {
  margin-top: 20px;
  // margin-left: auto;
  // margin-right: auto;
  // width: 500px;
}

.bt-order {
  margin-top: 20px;
  width: 130px;
  font-family: 'Mitr', sans-serif;
}


.button-size{
  margin: 20px;
  width: 200px;
  height: 150px;
}

.font-menu2{
  font-family: 'Mitr', sans-serif;
}

.img-cover{

  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  filter: brightness(0.5);
}

.font-cover{
  position: absolute;
  top: 6%;
  color: rgb(249, 181, 55) ;
  font-family: 'Pattaya', sans-serif;
  font-size: 50px;

}

.cardBill{
  width: 800px;
  margin-top: 50px;
  border-radius: 10px;
}
